/**
 *
 *  Copyright 2009-2013 The MITRE Corporation.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * **************************************************************************
 *                          NOTICE
 * This software was produced for the U. S. Government under Contract No.
 * W15P7T-12-C-F600, and is subject to the Rights in Noncommercial Computer
 * Software and Noncommercial Computer Software Documentation Clause
 * 252.227-7014 (JUN 1995)
 *
 * (c) 2012 The MITRE Corporation. All Rights Reserved.
 * **************************************************************************
 */

// ALL Patterns below  - defines, rules, etc. -- are for MATCHING.
// Parsing of actual fields named in defines is done after matches are found.
// Validation of parsed fields is last.

//#CLASS	Date	org.opensextant.regex.DebugNormalizer
#CLASS	Date	org.opensextant.regex.time.DateTimeNormalizer

#TAXO	Date	Time.date

# Well-known month abbreviations.
#DEFINE MONABBREV  JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEPT?|OCT|NOV|DEC

# A name starting with 3 ASCII letters as above, but followed by other letters, possibly not English or ASCII.
# Detection of month/day/year patterns with non-English month names is only a coincidence if they share a common prefix.
# Locales for date patterns and language options could be explored further. But is beyond scope.
#DEFINE MONNAME JAN\w*|FEB\w*|MAR\w*|APR\w*|MAY|JUNE?|JULY?|AUG\w*|SEP\w*|OCT\w*|NOV\w*|DEC\w*

#  Fixed length fields
// In all practicality, year is 1xxx or 2xxx.  Years 0001 to 0999 not really considered.
#DEFINE YEAR         [12]\d{3}
#DEFINE YY           '?\d\d

//  Year/YY is 2-4 digits,... but could be 3.  This is only used for matching. XTemp still validates matches.
//  '76
//
#DEFINE YEARYY       '?\d{2}|\d{4}
#DEFINE MM           [01]\d 
#DEFINE DD           [0-3]\d
#DEFINE SHORTTZ     [A-Z]

#DEFINE hh    [0-2]\d
#DEFINE mm    [0-5]\d
#DEFINE ss    [0-5]\d


#   Variable length
#DEFINE DOM         [0-3]?\d
#DEFINE MONTH       [01]?\d
#DEFINE LONGTZ     [A-Z]{3,5}

#DEFINE OF	of|Of|OF

// ........................................
// Month, Day, Year patterns, MDY
// ........................................
// FORM: DATE: MM/DD/YY 
#RULE	Date   MDY   01    \b<MONTH>/<DOM>/<YY>\b

// FORM: DATE: MM/DD/YYYY 
#RULE	Date   MDY   02    \b<MONTH>/<DOM>/<YEAR>\b

// FORM: MMM DD, YYYY   or MMM DD YYYY,  MMM DD, YY, etc.
#RULE	Date   MDY   03    \b<MONNAME>\s+<DOM>[\s,]+<YEARYY>\b

// FORM: MMM, YYYY  or Month, YYYY   comma optional. 4-digit year required
#RULE	Date   MDY   04    \b<MONNAME>[\s,]+<YEAR>\b

// FORM: MMM of YYYY
#RULE	Date   MDY   04a    \b<MONNAME>\s+<OF>\s+<YEAR>\b
#RULE	Date   MDY   05    \b<DOM>\s+<MONNAME>[\s,]+<YEARYY>\b

// FORM: DATE:  DD-MON-YYYY
#RULE	Date   DMY   01    \b<DOM>-<MONNAME>-<YEARYY>\b

// FORM: DATE:  DD MON YYYY
#RULE	Date   DMY   02    \b<DOM>\s*<MONNAME>\s*<YEARYY>\b


// ........................................
// DATE TIME PATTERNS,  DTM
// ........................................

// FORM: A|O|P|R DDHHMMZ MMM YY 
#RULE	Date   DTM   01   \b<DD><hh><mm><SHORTTZ>\s*<MONABBREV>\s*<YY>\b

// FORM: YYYYMMDDTHHMMZ
#RULE	Date   DTM   02   \b<YEAR><MM><DD>T<hh><mm><SHORTTZ>\b

// FORM: YYYY-MM-DDTHH:MM:SS
#RULE	Date   DTM   03   \b<YEAR>-<MM>-<DD>T<hh>:<mm>:<ss>

// FORM: YYYY-MM-DD HH:MM:SS
#RULE	Date   DTM   04   \b<YEAR>-<MM>-<DD>\s+<hh>:<mm>:<ss>

// FORM: YYYYMMDD
#RULE	Date   DTM   05   \b<YEAR><MM><DD>\b
